/**
 * @desc ArticleItem
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-23 23:48:48
 */

@import '~@/assets/style/init'

.article-item {
    position relative
    margin-bottom $padding-md
    padding-bottom $padding-md
    border-bottom 1px dashed var(--border-color)

    .article-link {
        display block
        overflow hidden

        .title {
            margin-bottom $padding-md
            transition(,, $ease)
        }

        .summary {
            flexLayout(, flex-start, flex-start)
            margin-bottom $padding-md

            .thumb {
                flex 0 0 150px
                position relative
                width 150px
                max-height 90px
                margin-right 16px
                overflow hidden
                border 4px solid var(--border-color)

                img {
                    width 100%
                    height auto
                    min-width 0
                    min-height 0
                    border-radius 2px
                    object-fit cover
                    transition(transform, ,$ease-out)

                    &:hover {
                        transform scale(1.1) rotate(2deg)
                    }
                }
            }

            .description {
                flex 1 0
                margin 0
                text-align justify
                overflow hidden
                color var(--text-color-secondary)
                lineLimit(4)
            }
        }

        &:hover {
            .title {
                color var(--heading-color)
                text-decoration underline
                transform translateX(5px)
            }
        }
    }

    .status {
        flexLayout(, flex-start,,wrap)
        font-size $font-size-sm
        color var(--text-color-secondary)

        .meta {
            flex 1 0
            flexLayout(, flex-start)

            &-item {
                flexLayout(, flex-start)
                position relative
                margin-right 12px

                .icon {
                  margin-right $padding-xs
                  font-size $font-size-sm
                  color var(--text-color-secondary)
                }
            }

            .category {
                .icon {
                    margin-right $padding-xs
                    font-size $font-size-sm
                }
            }
        }

        .time {
            .icon {
                font-size $font-size-sm
            }
        }

        .source {
            margin-left $padding-sm
            width 36px
            height 20px
            line-height @height
            text-align center
            border-radius 2px
            opacity .5
            transition(opacity)

            &:hover {
              opacity 1
            }
        }
    }
}
