@import '~@/assets/stylus/var/index'
@import '~@/assets/stylus/mixin/index'

.app-background {
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  width 100%
  height @width
  z-index -1
  
  .particles-background {
    full()
  }
}