/**
 * @desc ArticleSource
 * @author Jooger <zzy1198258955@163.com>
 * @date 2018-11-27 23:09:36
 */

@import '~@/assets/style/init'

.article-source {
    display inline-block
    width 36px
    height 20px
    line-height @height
    text-align center
    border-radius 2px
    cursor pointer
    opacity .5
    transition(opacity)

    &:hover {
        opacity 1
    }
}
