/**
 * @desc Footer
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-24 14:56:16
 */
@import '~@/assets/style/init';

.footer {
  width 100%
  margin-top 100px

  .wrapper {
    padding 36px 100px
    text-align center
    background-color $card-color

    .menu-list {
      .menu-item {
        display inline-block
        margin 0 10px
      }
    }

    .social-list {
      margin-top 20px

      .social-item {
        display inline-block
        margin 0 10px

        .icon {
          font-size $font-size-lger
        }
      }
    }

    .copyright {
      margin-top 10px

      .record {
        margin-left 10px
      }
    }

    .power-by {
      margin-top 10px
      color $text-color-secondary
      font-weight 400

      .link {
        text-decoration underline
      }
    }

    .logo {
      margin-top 10px
      color $text-color-secondary

      .icon {
        font-size 24px
      }
    }
  }
}
