/**
 * @desc Footer
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-24 14:56:16
 */
@import '~@/assets/style/init';

.footer {
  width 100%
  margin-top 100px

  .wrapper {
    padding 24px 50px
    text-align center
    background-color var(--card-color)

    .copyright {
      margin-top $padding-sm

      .record {
        margin-left $padding-sm
      }
    }

    .power-by {
      margin-top $padding-sm
      color var(--text-color-secondary)

      .link {
        text-decoration underline
      }
    }
  }
}
