flexLayout(dir = row, justify-content = center, align-items = center, iswrap = nowrap) {
  display flex
  flex-direction dir
  justify-content justify-content
  align-items align-items
  flex-wrap iswrap
}

full() {
  position absolute
  top 0
  right 0
  bottom 0
  left 0
}

textOverflow() {
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
}

lineLimit(line = 2) {
  display -webkit-box
  overflow hidden
  -webkit-line-clamp line
  -webkit-box-orient vertical
}

random($min = 1, $max = 100) {
  return math(math(0, 'random') * ($max - $min) + $min, 'floor')
}

// Media query
respond-below($width) {
  $media = 'all and (max-width: %s)' % $width
  @media $media {
    {block}
  }
}

respond-above($width) {
  $media = 'all and (min-width: %s)' % $width
  @media $media {
    {block}
  }
}

respond-between($min-width, $max-width) {
  $media = 'all and (min-width: %s) and (max-width: %s)' % ($min-width $max-width)
  @media $media {
    {block}
  }
}

// < 480
xxs() {
  +respond-below($screen-xs-min - 1) {
    {block}
  }
}

// >= 480 & < 768
xs() {
  +respond-between($screen-xs-min, $screen-xs-max) {
    {block}
  }
}

// >= 768 & < 992
sm() {
  +respond-between($screen-sm-min, $screen-sm-max) {
    {block}
  }
}

// >= 992 & <1200
md() {
  +respond-between($screen-md-min, $screen-md-max) {
    {block}
  }
}

// >= 1200 & < 1600
lg() {
  +respond-between($screen-lg-min, $screen-lg-max) {
    {block}
  }
}

// >= 1600
xl() {
  +respond-above($screen-xl-min) {
    {block}
  }
}

layout-wrapper() {
  +xxs() {
    padding 0 30px
  }

  +xs() {
    padding 0 40px
  }

  +sm() {
    padding 0 50px
  }

  +md() {
    padding 0 65px
  }

  +lg() {
    padding 0 80px
  }

  +xl() {
    padding 0 100px
  }
}

hero() {
  +xxs() {
    margin 0 -30px
  }

  +xs() {
    margin 0 -40px
  }

  +sm() {
    margin 0 -50px
  }

  +md() {
    margin 0 -65px
  }

  +lg() {
    margin 0 -80px
  }

  +xl() {
    margin 0 -100px
  }
}