// Color
$white                        = #fff
$black                        = #000
$grey                         = #f2f2f2
$grey2                        = #f9f9f9
$grey3                        = #e9e9e9
$blue                         = #0088f5
$red                          = #f04134
$green                        = #00a854
$orange                       = #e06437

$base-color                   = #ed0a75
$body-bg-color                = $white
$body-bg-color-dark           = $black
$heading-color                = alpha($black, 85%)
$text-color                   = alpha($black, 65%)
$text-color-secondary         = alpha($black, 43%)
$disabled-color               = alpha($black, 25%)
$heading-color-dark           = alpha($white, 97%)
$text-color-dark              = alpha($white, 91%)
$text-color-secondary-dark    = alpha($white, 67%)
$disabled-color-dark          = alpha($white, 35%)

// Font family
$font-family-base       = CenturyGothic,Helvetica Neue For Number,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif
$font-family-headings   = webfont,$font-family-base
$font-family-headings-2 = CenturyGothic-Bold,-apple-system,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif !important
$font-family-article    = $font-family-base
$font-family-code       = "Input Mono","PT Mono",Consolas,Monaco,Menlo,monospace
$font-family-markdown   = "PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans

// Animation
$ease                         = cubic-bezier(0.25, 0.1, 0.25, 1);
$ease-out                     = cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in                      = cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out                  = cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back                = cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back                 = cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back             = cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ                = cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ                 = cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ             = cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint               = cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint                = cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint            = cubic-bezier(0.86, 0, 0.07, 1);
$fuck                         = cubic-bezier(.85, 0, .15, 1)

$animation-duration-slower    = .5s
$animation-duration-slow      = .3s
$animation-duration-base      = .2s
$animation-duration-fast      = .1s

// Media queries breakpoints
// Extra small screen / phone
$screen-xs                    = 480px
$screen-xs-min                = $screen-xs

// Small screen / tablet
$screen-sm                    = 768px
$screen-sm-min                = $screen-sm

// Medium screen / desktop
$screen-md                    = 992px
$screen-md-min                = $screen-md

// Large screen / wide desktop
$screen-lg                    = 1200px
$screen-lg-min                = $screen-lg

// Extra Large screen / full hd
$screen-xl                    = 1600px
$screen-xl-min                = $screen-xl

// provide a maximum
$screen-xs-max                = ($screen-sm-min - 1)
$screen-sm-max                = ($screen-md-min - 1)
$screen-md-max                = ($screen-lg-min - 1)
$screen-lg-max                = ($screen-xl-min - 1)

// Component
$content-max-width            = 1280px