// Variables
@import 'var/var'
@import 'var/color'

// Mixins
@import 'mixin/layout'
@import 'mixin/media'
@import 'mixin/text'
@import 'mixin/tool'

// Core
@import 'core/iconfont'
@import 'core/font'
@import 'core/transition'
@import 'core/base'

// Pages or Components
@import 'component/layout'
@import 'component/header'
@import 'component/footer'
@import 'component/hero'
@import 'component/page-loader'
@import 'component/home'
@import 'component/about'
