@import '~@/assets/stylus/var/index'
@import '~@/assets/stylus/mixin/index'

.app-nav {
  position fixed
  right 0
  left 0
  bottom 0
  z-index $z-index-nav
  background $white
  box-shadow 0 -1px 20px 0 alpha($black, .1)

  .container {
    flexLayout()
    height $nav-height-mobile

    .nav-item {
      flex 1 0
      text-align center

      .icon {
        width 24px
        height @width
        margin 0 auto 5px
      }

      &.active {
        font-weight 700
      }
    }
    
  }
}
