@import '~@/assets/stylus/var/index'
@import '~@/assets/stylus/mixin/index'

.app-header {
  position fixed
  top 0
  left 0
  right 0
  z-index $z-index-header
  background $white

  .container {
    flexLayout(, space-between)
    position relative
    height $header-height-mobile
    line-height @height
    margin 0 auto
    padding 0 16px

    .logo {
      display inline-block

      img {
        max-height 32px
      }
    }
    
    .search {
      display inline-block
      &-form {
        position relative
      }

      &-input {
        width 100%
        height 32px 
        padding 2px 40px 2px 8px
        background-color $grey
        border none
      }

      .icon {
        position absolute
        top 0
        right 8px
      }
    }
  }
}
