/**
 * @desc Voice
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-10-09 01:37:54
 */

@import '~@/assets/style/init'

.voice {
  position fixed
  top 60px
  right 30px
  padding $padding-md
  writing-mode vertical-rl
  font-family $font-family-logo
  color var(--disabled-color)
  font-size $font-size-lg
  user-select text
  transition()

  .text {
    max-height 300px
  }

  .source {
    position absolute
    left -10px
    bottom -50%
    height max-content
  }

  &:hover {
    color var(--text-color)
  }
}
