.app-header {
  position fixed
  top 0
  left 0
  right 0
  width 100%
  z-index $z-index-header

  .container {
    position relative
    width 100%
    max-width $content-max-width
    margin 0 auto
    padding 0 15px
  }

  .navbar-header {
    float left
    .navbar-brand {
      position absolute
      line-height 70px
      color $white

      i {
        color $white
      }

      &.logo i {
        font-size $font-size-lger + 2px
      }
    }

    .header-search {
      position absolute
      width 70px
      height 70px
      top 0
      right 15px
      overflow hidden

      .search-input {
        display block
        height 70px
        background none
        padding 0 70px 0 20px
        border 0
        color $white
      }

      .icon-search {
        flexLayout()
        position absolute
        top 0
        right 0
        width 70px
        height 70px
        cursor pointer
      }
    }
  }

  .navbar-collapse {
    .navbar-nav {
      text-align center
      .menu-item {
        position relative
        display inline-block
        color $white
        font-weight 700

        & > a {
          position relative
          display block
          line-height 64px
          margin 0 5px
          padding 0 8px
        }
      }
    }
  }

  &.search-opened {
    .header-search {
      width 260px
      background $base-color
    }
  }

}