@import '~@/assets/stylus/var/index'
@import '~@/assets/stylus/mixin/index'

.tab {
  position relative

  .corner {
    position absolute
    bottom 0px
    left 0
    height 2px
    width 0
    border-radius 1px
    background-color alpha($base-color, .4)
    transition all $animation-duration-slow $ease
    z-index 2
  }

  .tab-item {
    display inline-block
    margin-right 20px
    padding 10px 0
    color $text-color-secondary

    .icon {
      display inline-block
      margin-right 4px
      color $grey-5
      transition all $animation-duration-slow $ease
    }

    .title {
      display inline-block
      font-weight bold
    }
    
    &:hover {
      color $text-color
      .icon {
        color $text-color
      }
    }
    &.active {
      color $base-color

      .icon {
        color $base-color
      }
    }
  }

  &.tab-bordered {
    // border-bottom 2px solid $border-color-4
    &::after {
      content ''
      position absolute
      right 0
      bottom 0
      left 0
      width 100%
      height 2px
      background $border-color-4
    }
  }
}