/**
 * @desc CommentList
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-10-03 14:22:54
 */

@import '~@/assets/style/init'

.comment-list {
  margin-bottom $padding-md

  .list-header {
    flexLayout(, space-between)

    .count {
      color var(--keyword-color)
    }

    .sort {
      font-weight 400
      flexLayout(, space-between)

      .seprate {
        width 1px
        height 12px
        margin 0 6px
        background var(--border-color)
      }

      &-type {
        color var(--text-color-secondary)

        &:hover {
          color var(--text-color)
        }

        &.active {
          color var(--primary-color)
        }
      }
    }
  }

  .list {
    margin-bottom $padding-md
  }

  &.loading {
    .list-header {
      .sort-type {
        cursor not-allowed
        color var(--text-color-secondary)
      }
    }
  }

  &.sub-comment-list {
    margin-top 16px
    padding 0 16px
    border 1px dashed var(--border-color)
    font-size $font-size-sm
    box-shadow none

    .indicator {
      margin $padding-md 0
    }

    &.empty {
      background transparent
    }
  }
}
