/**
 * @desc Affix
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-24 15:30:44
 */

@import '~@/assets/style/init'

.affix {
    &.is-fixed {
        position fixed
        z-index 100
        max-height calc(100% - 100px)
    }
}
