@keyframes rotate {
  to {
    transform: rotate(1turn)
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0
  }

  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35
  }

  to {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124
  }
}

@keyframes color {
  0%,to {
    stroke: #d62d20
  }

  40% {
    stroke: #0057e7
  }

  66% {
    stroke: #008744
  }

  80%,90% {
    stroke: #ffa700
  }
}
