* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*:before,
*:after {
    box-sizing: border-box;
}

:root {
    text-size-adjust: 100%;
    cursor: default;
}

body {
    font-family: Helvetica Neue For Number, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    background-color: $body-bg-color;
    color: $text-color;
    font-size: $font-size-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    a {
        color inherit
        background transparent
        text-decoration none
        outline none
        cursor pointer
        transition all $animation-duration-slow $ease

        &:focus {
            text-decoration none
            text-decoration-skip ink
        }

        &:active,
        &:hover {
            color $black
            outline 0
            text-decoration none
        }

        &[disabled] {
            color $text-color-placeholder
            cursor not-allowed
            pointer-events none
        }
    }
}

ul, ol {
    list-style none
}
