.keyword {
  color var(--keyword-color)
}

.no-data {
  margin $padding-md 0
  text-align center
}

.indicator {
  text-align center
  font-size $font-size-sm

  p {
    margin 0
    color var(--text-color-secondary)
  }

  .loadmore {
    padding 6px 32px
  }

  .app.mobile-layout & {
    button {
      width 100%
    }
  }
}

.source {
  &.original {
    color var(--primary-color)
    background-color var(--primary-color-light)
  }

  &.reprint {
    color $orange-6
    background-color rgba($orange-6, .2)
  }

  &.hybrid {
    color $blue-6
    background-color rgba($blue-6, .2)
  }

  &.translate {
    color $cyan-6
    background-color rgba($cyan-6, .2)
  }
}
