.keyword {
  color var(--keyword-color)
}

.indicator {
  text-align center
  font-size $font-size-sm

  p {
    margin 0
    color var(--text-color-secondary)
  }

  .loadmore {
    padding 6px 32px
  }

  .app.mobile-layout & {
    button {
      width 100%
    }
  }
}
