$common-padding=12px;

.markdown-body {
  font-size: $font-size-lg;
  font-weight: 300;
  color: var(--markdown-color);
  font-family: $font-family-markdown;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin: 1em 0;
    color: var(--dark);
  }

  hr {
    height: 0.05em;
    border: 0;
    color: var(--border-color);
    background-color: var(--border-color);
  }

  blockquote {
    margin: 1em 0;
    border-left: 4px solid var(--border-color);
    padding: 0 1em;
    color: var(--text-color-secondary);
  }

  pre {
    position relative
    font-size: inherit;
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: var(--code-color-light);
    border-radius: 2px;
  }

  code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: var(--code-color);
    border-radius: 3px;
    font-family: $font-family-code;
    color var(--keyword-color)

    &.language-cpp:after,
    &.language-java:after,
    &.language-c:after,
    &.language-cs:after,
    &.language-js:after,
    &.language-javascript:after,
    &.language-ts:after,
    &.language-typescript:after,
    &.language-jsx:after,
    &.language-bash:after,
    &.language-html:after,
    &.language-css:after,
    &.language-py:after,
    &.language-rb:after,
    &.language-swift:after,
    &.language-go:after {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      text-align: right;
      font-size: 80%;
      font-family: $font-family-code;
      padding: 0 10px;
      height: 24px;
      line-height: @height;
      color: var(--text-color-secondary);
      background-color var(--code-color-dark)
      border-bottom-left-radius: 2px;
    }

    &.language-cpp:after {
      content: 'C++';
    }
    &.language-java:after {
      content: 'Java';
    }
    &.language-c:after {
      content: 'C';
    }
    &.language-cs:after {
      content: 'C#';
    }
    &.language-html:after {
      content: 'Html';
    }
    &.language-css:after {
      content: 'Css';
    }
    &.language-js:after
    &.language-javascript:after {
      content: 'JavaScript';
    }
    &.language-ts:after
    &.language-typescript:after {
      content: 'TavaScript';
    }
    &.language-jsx:after {
      content: 'Jsx';
    }
    &.language-bash:after {
      content: 'Bash';
    }
    &.language-py:after {
      content: 'Python';
    }
    &.language-rb:after {
      content: 'Ruby';
    }
    &.language-swift:after {
      content: 'Swift';
    }
    &.language-go:after {
      content: 'Go';
    }
  }

  pre > code {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: var(--code-color-light);
    font-size: 85%;
    color: var(--text-color);
  }

  a,
  a:visited {
    padding-bottom 4px
    color: var(--text-color);
    background-color: inherit;
    text-decoration: none;
    font-weight: 700;

    &:hover {
      text-decoration underline
    }
  }

  img {
    max-width: 100%;
    cursor zoom-in
    border 6px solid var(--border-color)
  }

  .image-wrapper {
    text-align center
  }

  .image-alt {
    text-align center
    color var(--text-color-secondary)
    font-size 80%
  }

  p,
  div {
    line-height: 1.7em;
  }

  ul,
  ol {
    padding-left: 2em;
    list-style: disc;

    li {
      line-height 1.8
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: hidden;
    border-spacing: 0;
    border-collapse: collapse;

    tr {
      background-color: var(--dark);
      border-top: 1px solid var(--border-color);

      &:nth-child(2n) {
        background-color: #f6f8fa;
      }
    }

    th,
    td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }

    th {
      font-weight: 600;
    }
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table,
  pre {
    margin-top: 0;
    margin-bottom: .72em;
  }
}
