bindCssVars($dark, $light, $primary, $body, $border, $button, $keyword, $selection, $box-shadow) {
  {--dark-color} $dark
  {--dark-color-light} rgba($dark, .4)
  {--light-color} $light
  {--light-color-light} rgba($light, .4)
  {--body-color} $body
  {--primary-color} $primary
  {--primary-color-light} rgba($primary, .4)
  {--overlay-color} rgba($dark, .6)
  {--overlay-color-dark} rgba($dark, .8)
  {--heading-color} rgba($dark, .85)
  {--text-color} rgba($dark, .65)
  {--text-color-secondary} rgba($dark, .43)
  {--disabled-color} rgba($dark, .25)
  {--link-color} rgba($dark, .65)
  {--link-color-hover} rgba($dark, .85)
  {--card-color} rgba($light, .8)
  {--card-color-light} rgba($light, .5)
  {--border-color} $border
  {--border-color-dark} darken($border, 10%)
  {--keyword-color} $keyword
  {--keyword-color-light} rgba($keyword, .2)
  {--button-color} $button
  {--button-color-hover} darken($button, 10%)
  {--selection-color} $selection
  {--code-color} darken($body, 3%)
  {--code-color-light} $body
  {--code-color-dark} darken($body, 5%)
  {--box-shadow-color} $box-shadow
  {--box-shadow-color-dark} darken($box-shadow, 10%)
  {--markdown-color} rgba($dark, .85)
}

body {
  &.theme-light {
    bindCssVars(
      $black,
      $white,
      #302e31,
      darken($white, 5%),
      darken($white, 10%),
      darken($white, 5%),
      $orange-6,
      $blue-3,
      darken($white, 8%)
    )

    &.mobile {
      --card-color $white
    }
  }

  &.theme-dark {
    bindCssVars(
      $white,
      lighten($black, 20%),
      #D0D2CF,
      lighten($black, 10%),
      lighten($black, 15%),
      lighten($black, 5%),
      $red-6,
      $blue-3,
      lighten($black, 8%)
    )
  }
}

