.fade-enter-active, .fade-leave-active {
  transition opacity .2s $ease
}
.fade-enter, .fade-leave-active {
  opacity 0
}

.fade-slow-enter-active, .fade-slow-leave-active {
  transition opacity .5s $ease
}
.fade-slow-enter, .fade-slow-leave-active {
  opacity 0
}

.slide-in-left-fast-enter-active,
.slide-in-left-fast-leave-active {
  opacity 1
  transform translateX(0)
  transition all .1s $ease-in
}

.slide-in-left-fast-enter,
.slide-in-left-fast-leave-active {
  opacity 0
  transform translateX(10px)
}