.fade-enter-active, .fade-leave-active {
  transition opacity .2s $ease !important
}
.fade-enter, .fade-leave-active {
  opacity 0 !important
}

.fade-slow-enter-active, .fade-slow-leave-active {
  transition opacity .5s $ease !important
}
.fade-slow-enter, .fade-slow-leave-active {
  opacity 0 !important
}

.slide-down-enter-active
.slide-down-leave-active {
  opacity 1 !important
  transition all $animation-duration-slow $ease !important
}

.slide-down-enter
.slide-down-leave-active {
  opacity 0 !important
  transform translate3d(0, 10px, 0) !important
}

.slide-up-enter-active
.slide-up-leave-active {
  opacity 1 !important
  transition all $animation-duration-slow $ease !important
}

.slide-up-enter
.slide-up-leave-active {
  opacity 0 !important
  transform translate3d(0, -10px, 0) !important
}

.slide-right-enter-active
.slide-right-leave-active {
  opacity 1 !important
  transition all $animation-duration-slow $ease !important
}

.slide-right-enter
.slide-right-leave-active {
  opacity 0 !important
  transform translate3d(10px, 0, 0) !important
}

.slide-left-enter-active
.slide-left-leave-active {
  opacity 1 !important
  transition all $animation-duration-slow $ease !important
}

.slide-left-enter
.slide-left-leave-active {
  opacity 0 !important
  transform translate3d(-10px, 0, 0) !important
}

.slide-up-message-enter-active
.slide-up-message-leave-active {
  opacity 1 !important
  transition all $animation-duration-slow $ease !important
}

.slide-up-message-enter
.slide-up-message-leave-active {
  opacity 0 !important
  transform translate3d(0, -160%, 0) !important
}

.slide-menu-enter-active
.slide-menu-leave-active {
  transition all $animation-duration-slow $ease !important
}

.slide-menu-enter
.slide-menu-leave-active {
  transform translate3d(0, -100%, 0) !important
}

.slide-search-enter-active
.slide-search-leave-active {
  transition all $animation-duration-slow $ease !important
}

.slide-search-enter
.slide-search-leave-active {
  transform translate3d(0, -100%, 0) !important
}
