// Colors

/* base colors */
$primary-color         = #2d8cf0;
$primary-color-light   = #5cadff;
$primary-color-dark    = #2b85e4;
$info-color            = #54ADF3;
$success-color         = #06C1AE;
$warning-color         = #FF8D13;
$error-color           = #FF485A;
$white-color           = #FFFFFF;
$black-color           = #000000;

/* high level colors */
$title-color           = #333D48;
$content-color         = #515a6e;
$sub-color             = #93999F;
$disable-color         = #bbbec4;
$divider-color         = #e9eaec;
$bg-color              = #f6f6f9;

// Font Size
$font-size-base        = 14px;
$font-size-lg          = $font-size-base + 2px;
$font-size-sm          = 12px;

// Paddings
$padding-lg            = 24px; // 适用于基础的container容器
$padding-md            = 16px; // 适用于小的container容器，和一些button
$padding-sm            = 12px; // 适用于表单
$padding-xs            = 8px;  // 适用于（看情况吧）

// Animation
$ease                         = cubic-bezier(0.25, 0.1, 0.25, 1)
$ease-out              = cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in               = cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out           = cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back         = cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back          = cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back      = cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ         = cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ          = cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ      = cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint        = cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint         = cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint     = cubic-bezier(0.86, 0, 0.07, 1);
