* {
  box-sizing border-box
  -webkit-tap-highlight-color rgba(0, 0, 0, 0) //  remove tap highlight color for mobile safari
}

*:before,
*:after {
  box-sizing border-box
}

html {
  -webkit-text-size-adjust 100%
}

body {
  font 1.0625rem $font-family-base
  line-height 1.53
  color $text-color-dark
  background $body-bg-color
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  text-rendering optimizeLegibility
  user-select none
  overflow-y auto

  &.blog {
    background $grey
    color $text-color
  }
}

a {
  color inherit
  background transparent
  text-decoration none
  outline none
  cursor pointer
  transition all $animation-duration-slow $ease

  &:focus {
    text-decoration none
    text-decoration-skip ink
  }

  &:active,
  &:hover {
    outline 0
    text-decoration none
  }

  &[disabled] {
    color $disabled-color
    cursor not-allowed
    pointer-events none
  }
}

// unify the setting of elements's margin and padding for browsers
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  margin 0
  padding 0
}

ul,
ol {
  list-style none
}

// Reset fonts for relevant elements
button,input,select,textarea {
  font-family inherit
  font-size inherit
  line-height inherit
  color inherit
}

h1, h2, h3, h4, h5, h6 {
  margin 0
  padding 0
  line-height 1.5
  color $heading-color
  font-family $font-family-headings
  font-weight normal
}

.link {
  color $blue
  border-bottom 1px dotted $blue
  cursor pointer
  transition all .3s ease-out
  
  &:hover {
    border-bottom-color $text-color
    color $text-color
    text-decoration none
  }
  
}

[v-cloak] {
  display none
}