.hero-content {
  position absolute
  top 50%
  width 100%
  max-width $content-max-width
  layout-wrapper()
  hero()
  transform translateZ(0)
  animation scale-in .8s 0.5s both
  animation-timing-function $ease-out

  .title
  .subtitle {
    color $white
    text-transform uppercase
    letter-spacing 5px
    text-align center

    +xxs() {
      letter-spacing normal
    }

    +xs() {
      letter-spacing 3px
    }
  }

  .title {
    font-size 4rem

    +xxs() {
      font-size 2.1rem
    }

    +xs() {
      font-size 3.6rem
    }

  }

  .subtitle {
    font-size 2rem
    font-weight normal

    +xxs() {
      font-size 1.05rem
    }

    +xs() {
      font-size 1.8rem
    }
  }
  .moment {
    position relative
    width 100%
    height 120px
    margin-top 30px
    transform translateZ(0)
    text-align center

    @media all and (max-height: 600px) {
      display none
    }

    .wrapper {
      margin 0 auto
      width 100%
      height 100%
      overflow hidden
      max-width 600px
      padding 10px 20px
    }
  }
}


.search-page {

  .search-header {
    margin 50px auto 120px
    text-align center

    .title {
      font-size 5rem
      font-weight 700
      line-height 1.6
      opacity .1
      letter-spacing 5px
    }

    .keyword {
      font-size 1.375rem
      opacity .5
      letter-spacing 2px
    }

    +xxs() {
      margin 0 auto 30px
      .title {
        font-size 2.6rem
      }
      .keyword {
        font-size 1rem
      }
    }

    +xs() {
      margin 0 auto 60px
      .title {
        font-size 3.2rem
      }
      .keyword {
        font-size 1.1rem
      }
    }

    +sm() {
      margin 30px auto 80px
      .title {
        font-size 3.8rem
      }
      .keyword {
        font-size 1.2rem
      }
    }

    +md() {
      margin 30px auto 100px
      .title {
        font-size 4.4rem
      }
      .keyword {
        font-size 1.3rem
      }
    }
  }
}

@keyframes scale-in {
  0% {
    opacity 0
    transform scale(1.1)
  }
  100% {
    opacity 1
    transform scale(1)
  }
}
