.hero-content {
  position absolute
  top 60%
  left 50%
  width 100%
  transform translate(-50%, -50%)
  layout-wrapper()

  .title
  .subtitle {
    color $white
    text-transform uppercase
    letter-spacing 5px
    text-align center

    +xxs() {
      letter-spacing normal
    }

    +xs() {
      letter-spacing 3px
    }
  }

  .title {
    font-size 4rem

    +xxs() {
      font-size 2.1rem
    }

    +xs() {
      font-size 3.6rem
    }

  }

  .subtitle {
    font-size 2rem
    font-weight normal

    +xxs() {
      font-size 1.05rem
    }

    +xs() {
      font-size 1.8rem
    }
  }
}

.search-page {

  .search-header {
    margin 50px auto 120px
    text-align center

    .title {
      font-size 5rem
      font-weight 700
      opacity .1
      letter-spacing 5px
    }

    .keyword {
      font-size 1.375rem
      opacity .5
      letter-spacing 2px
    }

    @media (max-width: 1366px) and (min-width: 769px) {
      margin 30px auto 100px

      .title {
        font-size 4.2rem
      }

      .keyword {
        font-size 1.225rem
      }
    }

    @media (max-width: 768px) and (min-width: 480px) {
      margin 0 auto 80px

      .title {
        font-size 3.4rem
      }

      .keyword {
        font-size 1.1rem
      }
    }

    @media (max-width: 479px) {
      margin 0 auto 60px

      .title {
        font-size 2.6rem
      }

      .keyword {
        font-size 1rem
      }
    }
  }
  
}