.fade-enter-active
.fade-leave-active {
  transition opacity .3s $fuck
}
.fade-enter
.fade-leave-active {
  opacity 0
}

.fade-overlay-enter-active
.fade-overlay-leave-active {
  transition opacity .8s $fuck
}
.fade-overlay-enter
.fade-overlay-leave-active {
  opacity 0
}

.slide-down-enter-active
.slide-down-leave-active {
  transition all .8s $fuck
}

.slide-down-enter 
.slide-down-leave-active {
  transform translate3d(0, -100%, 0)
}

.slide-up-enter-active
.slide-up-leave-active {
  transition all .8s $fuck
}

.slide-up-enter 
.slide-up-leave-active {
  transform translate3d(0, 100%, 0)
}
