.indicator {
  margin 18px 0 6px
  text-align center
  font-size $font-size-sm
  
  .no-data
  .no-more-data {
    color $text-color-secondary
  }

  .loadmore {
    padding 6px 32px
    border-radius 2px
    border 1px solid $border-color
    cursor pointer
    transition all $animation-duration-slow $ease-in-out

    &:hover {
      padding 6px 48px
      background $base-color
      color $white
      border-color @background
      font-weight 700
    }
  }
}