@font-face {
	font-family: 'webfont';
	src: url('~@/static/fonts/webfont/webfont.eot'); /* IE9*/
	src: url('~@/static/fonts/webfont/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('~@/static/fonts/webfont/webfont.woff') format('woff'), /* chrome、firefox */
	url('~@/static/fonts/webfont/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url('~@/static/fonts/webfont/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}

@font-face {
	font-family 'CenturyGothic'
	src url('~@/static/fonts/CenturyGothic/CenturyGothic.ttf') format('truetype')
}

@font-face {
	font-family 'CenturyGothic-Bold'
	src url('~@/static/fonts/CenturyGothic/CenturyGothic-Bold.ttf') format('truetype')
}

@font-face {
	font-family 'Source Code Pro'
	src url('~@/static/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf') format('truetype')
}
