@font-face {
	font-family 'CenturyGothic'
	src url('~@/static/fonts/CenturyGothic/CenturyGothic.ttf') format('truetype')
}

@font-face {
	font-family 'CenturyGothic-Bold'
	src url('~@/static/fonts/CenturyGothic/CenturyGothic-Bold.ttf') format('truetype')
}

@font-face {
	font-family 'Source Code Pro'
	src url('~@/static/fonts/Source_Code_Pro/SourceCodePro-Regular.ttf') format('truetype')
}
