.md-body {
  position: relative;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: $text-color;
  font-family: $font-family-markdown;
  font-size: $font-size-base;
  font-weight 400
  line-height: 1.5;
  word-wrap: break-word;
}

.md-body::before {
  display: table;
  content: ""
}

.md-body::after {
  display: table;
  clear: both;
  content: ""
}

.md-body>*:first-child {
  margin-top: 0 !important
}

.md-body>*:last-child {
  margin-bottom: 0 !important
}

.md-body a:not([href]) {
  color: inherit;
  text-decoration: none
}
.md-body h1,
.md-body h2 {
  text-transform: uppercase;
}
.md-body h1 a:hover,
.md-body h2 a:hover {
  border-bottom: 3px solid #666;
}
.md-body h1 {
  font-size: 2rem;
  margin: 0 0 45px;
  letter-spacing: 1px;
}
.md-body h2 {
  font-size: 1.5rem;
  margin: 60px 0 30px;
  position: relative;
}
.md-body h3 {
  margin: 16px 0 8px;
}
.md-body .date {
  font-family: "Montserrat", "Helvetica Neue", "Hiragino Sans GB", "LiHei Pro", Arial, sans-serif;
  font-size: 1rem;
  color: #999;
  margin: 0 0 30px;
  letter-spacing: 1px;
}

.md-body p,
.md-body ul,
.md-body ol {
  margin: 0 0 .6em;
}
.md-body ul,
.md-body ol {
  list-style initial
}
.md-body strong {
  font-weight: 600;
  color: #444;
}
.md-body ol {
  padding-left: 1.6em;
}
.md-body ul {
  padding-left: 15px;
  list-style-type: none;
}
.md-body ul li:before {
  position: absolute;
  font-weight: 600;
  content: " · ";
  margin: 0;
  left: 0;
}
// .md-body a {
//   color: #f66;
//   border-bottom: 2px solid transparent;
// }
// .md-body a:hover {
//   color: #f33;
//   border-bottom-color: #f33;
// }
.md-body .highlight,
.md-body .highlight table {
  margin: 0;
  width: 100%;
}
.md-body .highlight {
  overflow-x: auto;
}
.md-body .highlight table,
.md-body .highlight tr,
.md-body .highlight td {
  padding: 0;
  border-collapse: collapse;
}
.md-body code {
  margin: 0 5px;
  padding 0 .3em
  font-size: 1rem;
  background-color: #f8f8f8;
  border-radius: 4px;
  text-shadow 0 1px $white
  font-weight 400
  background-color #f8f8f8
}
.md-body pre {
  margin 1.2em 0
  font-size: .75rem;
  overflow-x: auto;
  text-align: left;
  padding: 15px 25px;
  background-color: alpha($grey-4, .3);
  line-height: 1.5em;
}
.md-body pre code {
  margin 0 0 0 10px
  padding 0
  font-weight 400
  font-size: .75rem;
  background-color: transparent;
}
.md-body .code pre {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.md-body .gutter pre {
  padding: 15px 0 15px 15px;
  color: #75715e;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.md-body blockquote {
  margin: 1em 0;
  padding: .5em 1em;
  border 1px solid #eee
  border-left: 2px solid $base-color;
  font-weight 400
  color: #999
}
.md-body blockquote p {
  margin 0 0 .5em 0
  line-height: 1.8;
}
.md-body blockquote :last-child {
  margin-bottom 0
}
.md-body img {
  display: block;
  max-width: 100%;
}
.md-body table {
	display:block;
	width:100%;
	overflow:auto;
  border-collapse: collapse;
  border-spacing: 0;
}
.md-body table th {
	font-weight:600
}
.md-body table th,
.md-body table td {
	padding:6px 13px;
	border:1px solid #dfe2e5
}
.md-body table tr {
	background-color:#fff;
	border-top:1px solid #c6cbd1
}
.md-body table tr:nth-child(2n) {
	background-color:#f6f8fa
}
.md-body table img {
	background-color:transparent
}

.md-body {
  user-select text
  ul {
    list-style none
  }

  code {
    & > span {
      height 20px
      line-height @height
      &::before {
        content attr(data-index)
        position: absolute
        left 10px
        color alpha($black, .3)
      }
    }
  }

  ul.code-line {
    // position absolute
    // left 0
    // top 0
    // margin 0
    // padding 15px 0 15px 10px
    // color alpha($black, .2)
    // line-height 1.5em
    // text-align right
    list-style none

    .line {
      &::before {
        display none
      }
    }
  }
  
  img {
    box-shadow 0 5px 10px alpha($black, .01)

    &.image-view {
      cursor zoom-in
    }
  }

  a.link {
    font-weight 700
  }

  &.md-mini {
    font-size .875rem
    line-height 1.5

    h2 {
      margin 30px 0 15px
      font-size 1.2rem
    }
    ol
    ul
    p {
      margin 0 0 .8em
    }
  }
}