.fade-enter-active
.fade-leave-active {
  transition opacity .3s $fuck
}
.fade-enter
.fade-leave-active {
  opacity 0
}

.slide-down-enter-active
.slide-down-leave-active {
  transition all .8s $fuck !important
}

.slide-down-enter 
.slide-down-leave-active {
  transform translate3d(0, -101%, 0) !important
}

.slide-up-enter-active
.slide-up-leave-active {
  transition all .8s $fuck !important
}

.slide-up-enter 
.slide-up-leave-active {
  transform translate3d(0, 101%, 0) !important
}
