@font-face {font-family: 'webfont';
    src: url('~/static/fonts/webfont.eot'); /* IE9*/
    src: url('~/static/fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('~/static/fonts/webfont.woff') format('woff'), /* chrome、firefox */
    url('~/static/fonts/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('~/static/fonts/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}