/**
 * @desc Footer
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-10-01 19:05:56
 */

@import '~@/assets/style/init'

.footer {
  width 100%
  margin-top $padding-md

  .wrapper {
    padding $padding-lg
    text-align center
    background-color $card-color
  }
}
