/**
 * @desc Popover
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-10-01 01:31:01
 */

@import '~@/assets/style/init'

.popover {
  position absolute
  background-color $white
  box-shadow 0 0 15px 0 rgba($black,.2)
  border-radius 4px
  z-index 9999

  &::after {
    content ''
    position absolute
    border-style solid
  }

  &-top {
    left 50%
    transform translateX(-50%)

    &::after {
      bottom -8px
      left 50%
      transform translateX(-50%)
      border-width 8px 8px 0
      border-color $white transparent transparent
    }
  }

  &-right {
    top 50%
    transform translateY(-50%)

    &::after {
      top 50%
      left -8px
      transform translateY(-50%)
      border-width 8px 8px 8px 0
      border-color transparent $white transparent transparent
    }
  }

  &-bottom {
    left 50%
    transform translateX(-50%)

    &::after {
      top -8px
      left 50%
      transform translateX(-50%)
      border-width 0 8px 8px
      border-color transparent transparent $white
    }
  }

  &-left {
    top 50%
    transform translateY(-50%)

    &::after {
      top 50%
      right -8px
      transform translateY(-50%)
      border-width 8px 0px 8px 8px
      border-color transparent transparent transparent $white
    }
  }
}

.popover-slide-down-enter-active
.popover-slide-down-leave-active {
  opacity 1 !important
  transition all $animation-duration-slow $ease !important
}

.popover-slide-down-enter
.popover-slide-down-leave-active {
  opacity 0 !important
  transform translate3d(-50%, 10px, 0) !important
}

.popover-slide-up-enter-active
.popover-slide-up-leave-active {
  opacity 1 !important
  transition all $animation-duration-slow $ease !important
}

.popover-slide-up-enter
.popover-slide-up-leave-active {
  opacity 0 !important
  transform translate3d(-50%, -10px, 0) !important
}

.popover-slide-right-enter-active
.popover-slide-right-leave-active {
  opacity 1 !important
  transition all $animation-duration-slow $ease !important
}

.popover-slide-right-enter
.popover-slide-right-leave-active {
  opacity 0 !important
  transform translate3d(10px, -50%, 0) !important
}

.popover-slide-left-enter-active
.popover-slide-left-leave-active {
  opacity 1 !important
  transition all $animation-duration-slow $ease !important
}

.popover-slide-left-enter
.popover-slide-left-leave-active {
  opacity 0 !important
  transform translate3d(-10px, -50%, 0) !important
}
