/**
 * @desc Sider
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-21 00:46:47
 */

@import '~@/assets/style/init'

.app-sider {
  position fixed
  width 108px
  card()
  text-align center

  .menu {
    padding 8px

    &-item {
      display inline-block
      width 88px
      line-height 20px
      border-radius 6px
      margin 4px auto
      box-sizing border-box
      padding 8px 0
      font-size 14px
      color $text-color
      text-decoration none

      &:hover {
        color rgba($blue, .8)
      }

      &.active {
        color $blue
        background-color rgba($blue, .2)
        font-weight 700
      }
    }
  }
}
