@import '~@/assets/stylus/var/index'
@import '~@/assets/stylus/mixin/index'

.tag {
  display inline-block
  margin 0 8px 8px 0
  padding 4px 8px
  background-color $grey-4
  font-size $font-size-sm
  border-radius 2px
  transition all $animation-duration-slow $ease

  .icon {
    margin-right 4px
    font-size $font-size-sm
  }

  .name {
    margin-right 4px
  }

  &:hover {
    background-color $base-color
    color alpha($white, .6)
    font-weight 700
  }
}