.page-about {
  .hero {
    width 100%
    height 500px
    overflow hidden

    &-bg {
      position absolute
      width 110%
      height 110%
      top -10px
      right @top
      bottom @top
      left @top
      background-size cover
      background-position center center
      background-repeat no-repeat
      background-image url('~@/static/images/about.jpg')
      background-color transparent
      transition all $animation-duration-slow $ease
    }

    &::before {
      content ''
      full()
      background-color alpha($black, .3)
      z-index 1
      transition all $animation-duration-slow $ease
    }

    &:hover {
      .hero-bg {
        filter blur(10px)
        transform scale(1.03)
      }

      &::before {
        background-color alpha($black, .5)
      }
    }

    .info {
      full()
      flexLayout(column)
      color $white
      z-index 1

      .avatar {
        width 100px
        height @width
        border-radius 100%
        border 4px solid $grey-6
        box-shadow 0 2px 4px alpha($black, .16)
      }

      .name {
        margin-top 30px
        font-size 28px
        text-shadow 0 2px 10px $text-color
      }

      .slogan {
        margin-top 5px
        font-weight lighter
        font-size $font-size-sm
      }

      .description {
        margin-top 20px
        font-size $font-size-lg
      }

      .social-list {
        margin-top 30px
        .social-item {
          display inline-block
          width 40px
          height @width
          line-height 30px
          margin 0 10px
          padding 5px
          border-radius 4px
          text-align center
          background-color $base-color

          &:hover {
            opacity .8
            color $white
          }

          .icon {
            font-size $font-size-lger + 2px
          }

          &.social-email {
            background-color $email
          }

          &.social-github {
            background-color $github
          }

          &.social-zhihu {
            background-color $zhihu
          }

          &.social-weibo {
            background-color $weibo
          }

          &.social-netease-music {
            background-color $netease-music
          }
        }
      }
    }
  }

  .content {
    width $main-width
    margin 0 auto
    padding 20px 0 80px

    .wrapper {
      display flex
      justify-content flex-start
      .info-widget {
        flex 1 0
        padding 20px 30px

        .info-item {
          flexLayout(, flex-start, flex-start)
          margin-bottom 20px

          &:last-child {
            margin-bottom 0
          }
          .label {
            flex 0 0 20px
            margin-right 20px
            color $text-color-secondary
          }

          .title {
            flex 1 0
          }

          .icon {
            margin-right 20px
          }

          &.about {
            .label {
              color $blue-6
            }
          }
          &.like {
            .label {
              color $red-9
            }
          }
          &.music {
            .label {
              color $pink-6
            }
          }
          &.location {
            .label {
              color $cyan-6
            }
          }
          &.company {
            .label {
              color $purple-6
            }
          }
        }
      }

      .location-widget {
        flex 0 0 400px
        width 400px
        margin-left 12px
        padding 0

        .card-body {
          height 100%
          padding 0
        }

        iframe {
          width 100%
          height 100%
        }
      }
    }
  }

  html.mobile & {
    .content {
      width 100%
      padding-left 16px
      padding-right 16px

      .wrapper {
        flex-direction column

        .location-widget {
          flex-basis auto
          width 100%
          height 150px
          margin 0
        }
      }
    }
  }
}