.page-article {
  .article-widget {
    padding 20px 30px
  }
  .article-detail {
    .article-title {
      font-size $font-size-lger + 2px
    }

    & > .meta {
      flexLayout(, flex-start)
      margin 10px 0 20px
      color $text-color-secondary
      font-size $font-size-sm
      .category {
        .icon {
          margin-right 6px
        }
      }
    }

    .meta-item {
      flexLayout(, flex-start)
      position relative
      margin-right 12px

      &::before {
        content ''
        width 2px
        height @width
        margin-right 4px
        border 1px solid $text-color-secondary
        border-radius 1px
      }
    }

    .thumb {
      margin-bottom 20px
    }

    .action {
      margin-top 30px
      &-item {
        display inline-block
        margin-right 20px
        padding 4px 8px
        border-radius 2px
        font-size $font-size-sm

        .icon {
          margin-right 6px
          font-size $font-size-sm
        }

        &:hover {
          opacity .8
        }
      }

      .like {
        background-color alpha($like-color, .2)
        color $like-color

        &.liked {
          background-color alpha($like-color-liked, .2)
          color $like-color-liked
          font-weight 700

          &:hover {
            background-color alpha($like-color-liked, .4)
          }
        }

        &.liking {
          opacity .6
          cursor not-allowed
        }

        &:hover {
          background-color alpha($like-color, .4)
        }
      }

      .share {
        position relative

        &-list {
          position absolute
        }
      }
    }

    .tags {
      margin-top 10px
      padding-top 10px
      border-top 1px dashed $border-color-3
    }
  }

  .article-action {
    position absolute
    top 0
    left -48px

    .action-item
    .share-item {
      flex 0 0 36px
      position relative
      display block
      width 36px
      height @width
      line-height @width
      text-align center
      background alpha($white, .8)
      &:hover {
        background $base-color
        color $white
      }
    }

    .share-list {
      margin-top 12px
    }

    .action-list {
      .action-item {
        .count {
          content attr(data-count)
          position absolute
          display inline-block
          top 0px
          left 20px
          line-height 1
          padding 2px 4px
          font-size $font-size-sm
          background alpha($base-color, .3)
          color $white
          border-radius 10px
          transition all $animation-duration-slow $ease
        }

        &:hover {
          .count {
            background alpha($white, .8)
            color $base-color
          }
        }

        &.like {

          &:hover {
            background-color alpha($like-color-liked, .4)
          }
          &.liking {
            opacity .6
            cursor not-allowed
          }
          &.liked {
            background-color alpha($like-color-liked, .2)
            color $like-color-liked
            font-weight 700

            &:hover {
              background-color alpha($like-color-liked, .4)
            }

            .count {
              background alpha($white, .6)
              color $like-color-liked
            }
          }
        }
      }
    }
  }
}