$tab-height     = 45px

.page-home {
  .category-tabs {
    position fixed
    top $header-height-mobile
    right 0
    left 0
    height $tab-height
    line-height @height
    z-index $z-index-header
    background-color $white
    border-bottom 1px solid $border-color-4

    .tab-item {
      padding 0 12px
      text-align center

      &:last-child {
        margin 0
      }
    }
  }

  .tab-pages {
    padding-top $tab-height
  }
}