
.page-search {
  .title {
    font-weight 700
    .icon {
      margin-right 4px
      color $grey-6
    }

    .keyword {
      color $orange-5
      font-weight 700
    }
  }

  .count {
    line-height 2
    padding-left 10px
    background $grey
    font-size $font-size-sm
    color $text-color-secondary

    .num {
      margin 0 6px
      color $orange-5
      font-weight 700
    }
  }
}