/**
 * @desc Card
 * @author Jooger <iamjooger@gmail.com>
 * @date 2018-09-24 01:26:12
 */

@import '~@/assets/style/init'

.card {
  position relative
  margin-bottom $padding-md
  padding 0 $padding-md
  background-color var(--card-color)

  &.card-bordered {
    border 1px solid $border-color-3
  }

  &-header {
    padding 12px 0 6px
    border-bottom 1px solid $border-color-4
    font-weight 700

    .icon {
      margin-right 4px
      color var(--disabled-color)
      font-weight normal
    }

    .info-header {
      margin-bottom 10px
      text-align center

      .icon {
        color var(--disabled-color)
        font-size 42px
        font-weight 400
      }

      .keyword {
        font-size $font-size-lger
        color var(--keyword-color)
        letter-spacing 1px
      }

      .count {
        font-weight 400
        color var(--text-color-secondary)
        font-size $font-size-sm

        .num {
          margin 0 6px
          color var(--keyword-color)
          font-weight 700
        }
      }
    }
  }

  &-body {
    padding $padding-md 0
  }

  &-no-padding {
    padding 0

    .card-body {
      padding 0
    }
  }
}
