@import '~@/assets/stylus/var/index'
@import '~@/assets/stylus/mixin/index'

$bg         = alpha($grey-5, .3)

.comment-input-box {
  padding 20px 30px

  button {
    padding 6px 32px
    background $base-color
    border-radius 2px
    border none
    color $white
    cursor pointer
    transition all $animation-duration-slow $ease-in-out

    &:hover {
      opacity .8
    }
  }

  .box {
    .clear {
      flex 0 0 !important
      button {
        height 40px
        width @height
        padding 6px 12px
        background $bg
        color $text-color-secondary

        &:hover {
          background $base-color
          color $white
        }
      }
    }
    .author {
      margin-bottom 12px

      .avatar {
        flex 0 0 40px
        width 40px
        height @width
        text-align center
        overflow hidden

        img {
          width 100%
          height @width
          border-radius 50%
        }
      }

      .login {
        flexLayout(, flex-start, flex-start)
        .form {
          flex 1 0
          flexLayout(, flex-start)
          > div {
            flex 1 0
            margin-left 12px

            input {
              width 100%
              height 40px
              padding 6px 12px
              border none
              background $bg
              background-image none
              transition all $animation-duration-slow $ease
            }
          }
        }
      }

      .info {
        flexLayout(, space-between)
        .user {
          flexLayout(, flex-start)
        }

        .status {
          color $text-color-secondary
          font-size $font-size-sm
        }

        .action {
          &-item {
            margin-left 10px
          }

          .exit {
            color $text-color-secondary
          }
        }
      }
    }

    .reply {
      flexLayout(, flex-start)
      margin-bottom 12px
      .target {
        flex 1 0
        height 40px
        line-height @height
        margin-right 12px
        padding 0 8px
        background $bg
      }
    }

    .content {
      margin 0 0 12px
    }

    .action {
      flexLayout(, space-between)
      &-item {
        display inline-block
      }
      .submit {
      }

      .cancel-btn {
        margin-right 12px
        background transparent
        color $text-color-secondary
        border 1px solid $border-color

        &:hover {
          background $bg
          border-color @background
          color $text-color
        }
      }

      .sns-login {
        button {
          background transparent
          color $text-color-secondary
          border 1px solid $border-color

          &:hover {
            background $bg
            border-color @background
            color $text-color
          }
        }
      }
    }
  }

  &.child-input-box {
    background transparent

    .card-body {
      padding 0
    }
  }
}