@import '~@/assets/stylus/var/index'
@import '~@/assets/stylus/mixin/index'

.comment-list {
  padding 20px 30px
  .list-header {
    flexLayout(, space-between)

    .count {
      color $keyword-color
    }

    .sort {
      font-weight 400
      flexLayout(, space-between)

      .seprate {
        width 1px
        height 12px
        margin 0 6px
        background $border-color
      }
      &-type {
        color $text-color-secondary

        &:hover {
          color $text-color
        }
        
        &.active {
          color $base-color
        }

      }
    }
  }

  .list-content {
    
  }

  &.loading {
    .list-header {
      .sort-type {
        cursor not-allowed
      }
    }
  }
}